<div
  class="container container-narrow information-page faqs"
  itemscope
  itemtype="https://schema.org/FAQPage">

  <div class="block-section">
    <h1 class="page-title">
      {{ page.title | escape }}
    </h1>
    <div class="rte page-content">
		<!--{{ page.content }}-->
		<div data-tab-component>
			<div class="page-width">
				<!--{% section 'faq-orders' %}-->
				<!--{% section 'faq-returns' %}-->
				{% render 'faq-products' %}
				<!--{% section 'faq-warranty' %}-->
			</div>
		</div>
  </div>

  <script type="text/javascript">
    var acc = document.querySelectorAll('[role="tab"]');
    var i;
    	
    		console.log(acc);
    		for (i = 0; i < acc.length; i++) {
    		acc[i].addEventListener("click", function() {
    			this.parentElement.parentElement.classList.toggle("active");
    			var panel = this.nextElementSibling;
    			if (panel.style.maxHeight) {
    			panel.style.maxHeight = null;
    			} else {
    			panel.style.maxHeight = panel.scrollHeight + "px";
    			}
    		});
    		}</script>

</div>

{% schema %}
  {
    "name": "t:sections.main_page.name"
  }
{% endschema %}