/* Section - Rich text
=================================== */
.section-rich-text {
  text-align: center;
  position: relative;
  z-index: 2;
}

.section-rich-text .button {
  margin-top: var(--spacing-base-1);
}
